{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'post/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'post/main.css' %}">
    </head>
    <body>

        <div class="i-user-container">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}
            {% endblock content %}
        </div>
        
        <script src="{% static 'post/jquery-3.6.0.min.js' %}" async defer></script>
        <script src="{% static 'post/js/bootstrap.bundle.min.js' %}" async defer></script>
        <script src="{% static 'post/script.js' %}" async defer></script>
    </body>
</html>