{% load static %}
<header class="py-3 mb-3 border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
        <div>
            <a class="navbar-brand" href="{% url 'posts_home' %}">
                <img src="{% static 'post/images/logo.svg' %}" alt="" width="30" height="30" class="d-inline-block align-text-top">
                I Rate You
            </a>
        </div>
        <div class="d-flex align-items-center">
            <form action="{% url 'posts_home' %}" method="GET" class="w-100 me-3">
                <input name="q" class="form-control me-2" type="search" class="form-control" placeholder="Search IRY..." aria-label="Search">
            </form>
            {% if user.is_authenticated %}
                <div class="flex-shrink-0 dropdown">
                    <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="{{ user.profile.image.url }}" alt="" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                        <li>
                            <a class="dropdown-item" href="{% url 'create_post' %}"><i class="fa fa-edit"></i> New Post...</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'profile' %}"><i class="fa fa-cog"></i> Profile</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </li>
                    </ul>
                </div>
            {% else %}
                <li class="accept-user">
                    <a href="{% url 'login' %}">Login</a>
                </li>
                <li class="accept-user">
                    <a href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </div>
    </div>
</header>