:root{
    --yell: #FFBD4A;
    --blk: #333;
    --white: #FBFBFB;
    --gray: #DDD;
    --links: #0060B6;
    --red: #F24A72;

    --green: #04AA6D;
    --blue: #2196F3;
    --aqua: #00bcd4;
}




a{
    color: var(--yell);
    text-decoration: none;
}

.navbar-brand{
    font-weight: 600;
    color: var(--blk);
}

.post-container{
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 10px;
}

.tag, .title, .author, .content, .confirmation, .delete-text{
    word-break: break-all;
}

p, h5, h6, h2{
    margin: 0;
}

.strip-rating{
    text-align: center;
}

.user-info{
    display: flex;
}

/* posts_display html */

.user-posts-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* containers */

.commenter-container{
    display:flex;
    
    column-gap: 10px;
    align-items: center;
}

.detail-container, .post-form, .profile-container{
    margin: 0 5%;
}

.logout-container{
    position: fixed;
    top: 50%;
    left: 10%;
}

.login-container{
    position: fixed;
    top: 35%;
    left: 10%;
}

.register-container{
    position: fixed;
    top: 5%;
    left: 10%;
    margin-right: 20px;
}

.p-reset-container{
    position: fixed;
    top: 45%;
    left: 10%;
}

.delete-container{
    position: fixed;
    top: 20%;
    left: 5%;
    margin-right: 20px;
}

/*greater than 500px*/
@media only screen and (min-width: 500px) {
    .register-container{
        position: fixed;
        top: 20%;
        left: 25%;
        margin-right: 20px;
    }

    .detail-container, .post-form, .profile-container, .post-container{
        margin: 0 20%;
    }

    .logout-container{
        position: fixed;
        top: 50%;
        left: 25%;
    }
    
    .login-container{
        position: fixed;
        top: 35%;
        left: 25%;
    }
    
    .register-container{
        position: fixed;
        top: 20%;
        left: 25%;
        margin-right: 20px;
    }
    
    .p-reset-container{
        position: fixed;
        top: 45%;
        left: 25%;
    }
}

.alert-container{
    width: 75%;
}

/* profile */
.user-container{
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    align-items: center;
}

.user-profile-pic{
    height: 200px;
    width: 200px;
}

/* details */

textarea{
    width: 100%;
    height: 100px;
}

.comment-inner{
    padding: 10px;
}

.rated{
    display: flex;
    align-items: center;
    column-gap: 5px;
}

/* btns */

.go-btn{
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid var(--yell);
}

.go-btn:hover{
    background-color: var(--yell);
    color: var(--white);
}

.warn-btn{
    border: 1px solid var(--red);
    background-color: var(--white);
    color: var(--red);

}

.warn-btn:hover{
    background-color: var(--red);
    color: var(--white);
}

.control-btn{
    color: var(--red)
}

.alt-btn{
    color: var(--links);
}

/*styling star rating*/

.checked{
    color: var(--yell);
}

.rating{
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.rating > input{
	display: none;
}

.rating > label:before{
	content: '\f005';
	font-family: FontAwesome;
	margin: 5px;
	display: inline-block;
	cursor: pointer;
}

.rating > label{
	color: #ddd;
	float: right;
	cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover, 
.rating:not(:checked) > label:hover ~ label{
	color: var(--yell);
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
	color: var(--yell);
}

/* Graph */

.row{
    margin: 10px 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
    justify-items: center;
    row-gap: 5px;
}

.row > div.side{
    text-align: center;
}

div.right{
    display: flex;
    padding: 0;
}

div.left{
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {height: 18px; background-color: var(--yell);}
.bar-4 {height: 18px; background-color: var(--green);}
.bar-3 {height: 18px; background-color: var(--blue);}
.bar-2 {height: 18px; background-color: var(--aqua);}
.bar-1 {height: 18px; background-color: var(--red);}